# SPDX-License-Identifier: Apache-2.0

FUNCTION_NAME=payment_platfrom_adapter
PORT=3000
TMS_ENDPOINT='localhost:3000'

TMS_PAIN001_ENDPOINT=localhost:3000/v1/evaluate/iso20022/pain.001.001.11
TMS_PAIN013_ENDPOINT=localhost:3000/v1/evaluate/iso20022/pain.013.001.09
TMS_PACS002_ENDPOINT=localhost:3000/v1/evaluate/iso20022/pacs.008.001.10
TMS_PACS008_ENDPOINT=localhost:3000/v1/evaluate/iso20022/pacs.002.001.12

# kafka
KAFKA_URI=127.0.0.1:9092
KAFKA_CLIENT_ID=example-producer
KAFKA_CONSUMER_GROUP=test-group
KAFKA_TOPIC_TO_CONSUME=test-topic

# redis
REDIS_URL=127.0.0.1
REDIS_PORT=6379

NODE_ENV=dev
